.btn-access {
    background-color: green; // Cambia <color> por el color deseado
    color: white; // Cambia <text-color> por el color del texto deseado
  
    // Otros estilos de diseño
    // ...
  
    &:hover {
      background-color: darkblue; // Cambia <hover-color> por el color de fondo al pasar el cursor sobre el botón
      // Otros estilos de diseño al pasar el cursor sobre el botón
      // ...
    }
  
    // Otros estilos de pseudoclases o pseudoelementos
    // ...
  }
  