.detalles{
    background-color: rgb(245,232,218);
}

.nombre{
    color: rgb(43,25,46);
    font-weight: 800;
    font-size: 45px;
}

.card-descripcion{
    background-color: rgb(245,232,218);
    border: 2px solid rgb(43,25,46);
}

.titulo-descripcion{
    color: rgb(43,25,46);
    
    font-weight: 700;
    font-size: 27px;
}

.contenido-descripcion{
    color: rgb(43,25,46);
    font-weight: 500;
    font-size: 17px;
    font-variant: normal;
}

.banner{
    display: flex;
    flex-direction: column;

    margin-top: 35px;
    margin-bottom: 35px;
    height: fit-content;
    width: 100%;

    img{
        margin: 0 auto;
    }
}

.btn-primary{
    background-color: rgb(80,0,108);
    border: 2px solid rgb(80,0,108);
    
    color: rgb(206,140,165);

    font-size: large;
    font-weight: 500;

    transform: scale(1);
    box-shadow: 0px 0px 0px rgb(40, 0, 54);
    border-radius: 20px;

    transition-property: transform, box-shadow, border-radius;
    transition-duration: 0.2s;
}

.btn-primary:hover{
    box-shadow: 5px 5px 10px rgb(40, 0, 54);
    transform: scale(1.1);
    border-radius: 10px;

    transition-property: transform, box-shadow, border-radius;
    transition-duration: 0.2s;
}

.btn-primary:active{
    background-color: rgb(80,0,108);
    border: 2px solid rgb(80,0,108);
    
    color: rgb(206,140,165);

    transform: scale(1);
    box-shadow: 0px 0px 0px rgb(40, 0, 54);

    transition-property: transform, box-shadow;
    transition-duration: 15ms;
}
