.navbar {
    background: linear-gradient(to right, #3f0461, #4b1df0);
    color: #fff;
    nav {
      ul {
        li {
          a {
            color: #fff;
            font-weight: bold;
            &:hover {
              color: #ff9900;
            }
          }
        }
      }
    }
  
    
    .loginButton a{
        color: white;
        font-weight: bold;
        background-color: red;
    }
  }