<!--Formulario de registro-->
<div class="banner">
    <img src="assets/registro-trans.svg" class="img-fluid">
</div>

<div class="contenedor">
    <form [formGroup]="miFormulario">
        <mat-form-field appearance="outline">
            <mat-label>Nombre</mat-label> <input type="text" name="nombre" matInput formControlName="nombre"/>
        </mat-form-field>
      <div *ngIf="nombre?.errors?.['pattern'] && nombre?.touched">
        <p [ngStyle]="{color:'tomato'}">El nombre es obligatorio</p>
      </div>
        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label> <input type="email" name="email" matInput formControlName="email"/>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Teléfono</mat-label> <input type="text" name="telefono" matInput formControlName="telefono"/>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Contraseña</mat-label> <input type="password" name="pwd" matInput formControlName="password"/>
        </mat-form-field>
      <div *ngIf="password?.errors?.['pattern'] && password?.touched">
        <p [ngStyle]="{color:'tomato'}">Debe contener al menos 1 mayuscula, 1 minuscula y 8 caracteres</p>
      </div>
        <button mat-raised-button color="primary" [disabled]="miFormulario.invalid" (click)="register()">Registrar</button>
    </form>
</div>
