<div class="banner">
    <img src="assets/registro-trans.svg">
</div>

<div class="contenedor">
    <form>
        <mat-form-field appearance="outline">
            <mat-label>Nombre</mat-label> <input type="text" name="nombre" matInput [(ngModel)]="nombre"/>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label> <input type="email" name="email" matInput [(ngModel)]="email"/>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Teléfono</mat-label> <input type="text" name="telefono" matInput [(ngModel)]="telefono"/>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Contraseña</mat-label> <input type="password" name="pwd" matInput [(ngModel)]="pwd"/>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="register()">Registrar</button> 
    </form>
</div>
