<div class="banner">
  <img src="assets/usuario-trans.svg">
</div>

<div class="container" *ngIf="datosUsuario">
  <div class="row">

    <div class="col-md-12">
        <mat-card>

          <mat-card-content>
            <br>
            <form class="formulario">

              <mat-form-field appearance="outline">
                <mat-label>Nombre de usuario</mat-label> <input type="text" name="nombre" value="{{datosUsuario.nombre}}" matInput [(ngModel)]="nombreUsuario"/>
              </mat-form-field>

              <span class="divisor"></span>

              <mat-form-field appearance="outline">
                <mat-label>Email</mat-label> <input type="email" name="email" value="{{datosUsuario.email}}" matInput [(ngModel)]="emailUsuario"/>
              </mat-form-field>

              <span class="divisor"></span>

              <mat-form-field appearance="outline">
                <mat-label>Teléfono</mat-label> <input type="text" name="telefono" value="{{datosUsuario.telefono}}" matInput [(ngModel)]="telefonoUsuario"/>
              </mat-form-field>

              <span class="divisor"></span>

              <button class="boton" class="btn btn-primary" (click)="cambiarDatos()">Cambiar</button>
            </form>
          </mat-card-content>
        </mat-card>
    </div>

  </div>

  <br>

  <div class="row" *ngIf="datosUsuario.nombreRol === 'admin'">
    <div class="col-md-12">
      <mat-card class="admin">
        <mat-card-content>
          <img src="assets/admin-trans.svg" class="foto-admin">
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <br>

  <div class="row">

    <div class="col-md-6">

      <div class="card inscripciones font">

        <div class="card-content">

          <div class="card-body">

            <div class="card-title">
              <h1 class="nombre"><mat-icon>grade</mat-icon> INSCRIPCIONES A EVENTOS</h1>
            </div>

            <div class="card-text">

              <div *ngFor="let evento of inscripciones">

                <div class="card mb-3">

                  <div class="card-body">

                    <h2 class="card-title">{{ evento }}</h2>

                    <a [routerLink]="['/detalles', evento]" class="btn btn-primary">Ver detalles</a>

                  </div>

                </div>

              </div>

            </div>

          </div>

        </div>

      </div>

    </div>





    <div class="col-md-6">

      <div class="card gestionados font">

        <div class="card-content">

          <div class="card-body">

            <div class="card-title">
              <h1 class="nombre"><mat-icon>grade</mat-icon> EVENTOS GESTIONADOS</h1>
            </div>

            <div class="card-text">

              <div class="card" *ngFor="let evento of eventosGestionados">

                <div class="card-body">

                  <h2 class="card-title">{{ evento }}</h2>

                  <a [routerLink]="['/detalles', evento]" class="btn btn-primary">Ver detalles</a>

                </div>

              </div>

            </div>

          </div>

        </div>

      </div>

    </div>

  </div>
  <br>
</div>
