<div class="container">
  <br>
  <h2>{{ currentDate | date: 'MMMM yyyy' }}</h2>
  <div class="row">
    <div class="col-md-12">
      <div class="d-flex justify-content-between mb-3">
        <button class="btn btn-primary" (click)="previousMonth()">Anterior</button>
        <button class="btn btn-primary" (click)="nextMonth()">Siguiente</button>
      </div>
      <table class="table">
        <!-- Encabezado de días de la semana -->
        <thead>
          <tr>
            <th class="text-center">Lun</th>
            <th class="text-center">Mar</th>
            <th class="text-center">Mié</th>
            <th class="text-center">Jue</th>
            <th class="text-center">Vie</th>
            <th class="text-center">Sáb</th>
            <th class="text-center">Dom</th>
          </tr>
        </thead>
        <!-- Cuerpo del calendario -->
        <tbody>
          <ng-container *ngFor="let week of getWeeks()">
            <tr>
              <ng-container *ngFor="let day of week">
                <td *ngIf="day.month === currentMonth || (day.month === previousMonth && day.date >= getLastDayOfPreviousMonth() - getFirstDayOfWeek()) || (day.month === nextMonth && day.date <= getFirstDayOfNextMonth())" (click)="selectDay(day.date)">
                  <div class="day-cell d-flex align-items-center justify-content-center"
                    [class.today]="isToday(day)" [class.selected]="isSelected(day)">
                    <button mat-raised-button color="accent" class="day-number" (click)="mostrarEventos(day.date.getDate())">{{ day.date.getDate() }}</button>
                  </div>
                </td>
                <td *ngIf="day.month !== currentMonth"></td>
              </ng-container>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row" *ngIf="mostrarDivEventos">
    <div class="col-md-12">
      <p>Eventos del dia {{selectedDate.getDate()}}</p>
      <br>
      <div *ngFor="let evento of eventosFiltrados">
        <div class="card">
          <img src="" class="card-img-top" alt="Imagen del evento {{evento.nombre}}">
          <div class="card-body">
            <h5 class="card-title">{{ evento.nombre }}</h5>
            <p class="card-text">{{ evento.descripcion }}</p>
            <a href="#" class="btn btn-primary">Ver detalles</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
