<div class="container">
  <br>

  <div class="row">
    <div class="col-md-6 calendario">
      <mat-calendar [(selected)]="fechaSeleccionada" (selectedChange)="cambioFechaSeleccionada()"></mat-calendar>
    </div>

    <div class="col-md-6 columna-eventos" *ngIf="mostrarDivEventos; else noEventoSeleccionado">
      <h2>Eventos del dia {{selectedDate.getDate()}}</h2>

      <div *ngIf="!noEventos; else noEventosDia">
        <div *ngFor="let evento of eventosFiltrados">
          <div class="card">
            <div class="card-body">
              <h2 class="card-title">{{ evento.nombre }}</h2>
            <h4 class="card-text"><mat-icon>calendar_today</mat-icon> {{evento.fechaInicio}} / {{evento.fechaFin}}</h4>
            <h4 class="card-text"><mat-icon>place</mat-icon> {{ evento.ubicacion }}</h4>
            <p class="card-text">{{ evento.descripcion }}</p>
              <a [routerLink]="['/detalles', evento.nombre]" class="btn btn-primary">Ver detalles</a>
            </div>
          </div>
        </div>
      </div>

      <ng-template #noEventosDia>
        <h1>No hay eventos en este día ;(</h1>
      </ng-template>
    </div>

    <ng-template #noEventoSeleccionado>
      <div class="col-md-6">
        <h2>¡Selecciona un día para ver sus eventos!</h2>
      </div>
    </ng-template>

  </div>
</div>
