.calendario{
    width: 40%;
    margin-right: 40px;
}

mat-calendar{
    background-color: rgb(245,232,218);
    border-radius: 15px;
}

.columna-eventos{
    color: rgb(245,232,218);
}

.card{
    background-color: rgb(245,232,218);
}

.card-body{
    color: rgb(43,25,46);
}

.btn{
    background-color: rgb(43,25,46);
    color: rgb(245,232,218);
    border: 2px solid rgb(43,25,46);
}