<div class="banner">
  <img src="assets/eventos-trans.svg">
</div>

<div class="container">
  <!--<h1 class="titulo">Eventos disponibles</h1>-->
  <div class="row">
    <div class="col-md-5"></div>
    <div class="col-md-7">
      <button *ngIf="isUsuarioLogeado" mat-raised-button routerLink="/nuevo-evento">Registrar evento</button>
    </div>
  </div>
  
  <br>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <ng-container *ngIf="!eventosFiltrados.length; else eventosFiltradosBlock">
        <div class="card" *ngFor="let evento of eventos">
          <div class="card-body">
            <h2 class="card-title">{{ evento.nombre }}</h2>
            <h4 class="card-text"><mat-icon>place</mat-icon> {{ evento.ubicacion }}</h4>
            <p class="card-text">{{ evento.descripcion }}</p>
            <a [routerLink]="['/detalles', evento.nombre]" class="btn btn-primary">Ver detalles</a>
          </div>
        </div>
        <br><br>
      </ng-container>
    </div>
    <ng-template #eventosFiltradosBlock>
      <div *ngFor="let evento of eventosFiltrados">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title">{{ evento.nombre }}</h2>
            <p class="card-text">{{ evento.descripcion }}</p>
            <a [routerLink]="['/detalles', evento.nombre]" class="btn btn-primary">Ver detalles</a>
          </div>
        </div>
      </div>
      <br><br>
    </ng-template>
  </div>
</div>
