.contenedor-principal{
    display: flex;
    flex-flow: column;
    background-color: rgb(43,25,46);
}

.espaciado{
    height: 10vh;
}

.contenedor-secundario{
    z-index: 1;
    position: fixed;
    bottom: 0;
    width: 100%;
}