button{
    margin: 0 auto;
    margin-left: 15px;
}

.espaciado{
    flex: 1 1 auto;
}

mat-icon{
    margin-left: 15px;
}

mat-toolbar{
    background: linear-gradient(to right, #3f0461, #4b1df0);
    color: white;
}