<!--Barra de navegacion-->
    <nav class="navbar navbar-expand-lg font">
        <div class="container-fluid">
            <img src="assets/home-solo-trans.svg" class="home" routerLink="home">

            <div class="navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <img src="assets/eventos-boton-trans.svg" class="link" routerLink="evento">
                        &nbsp;&nbsp;
                    </li>
                </ul>
            </div>

            <ng-template [ngIf]="usuarioRegistrado">
                <img src="assets/usuario-boton-trans.svg" class="link der" [routerLink]="['/usuario', nombreUsuario]">
                &nbsp;&nbsp;
                <img src="assets/logout-boton-trans.svg" class="link der" (click)="logout()" routerLink="login">
            </ng-template>
            <ng-template [ngIf]="!usuarioRegistrado">
                <img src="assets/login-boton-trans.svg" class="link der" routerLink="login">
                &nbsp;&nbsp;
                <img src="assets/registro-boton-trans.svg" class="link der" routerLink="register">
            </ng-template>
        </div>
    </nav>
<pop-up *ngIf="usuarioRegistrado"></pop-up>
