.navbar {
    background-color: rgb(206, 140, 165);

    .home {
        margin-left: 10px;
        margin-right: 20px;
        width: 70px;
        height: 70px;

        transform: scale(1);

        transition-property: transform;
        transition-duration: 0.2s;
    }

    .home:hover {
        transform: scale(1.2);

        transition-property: transform;
        transition-duration: 0.2s;
    }

    .link {
        width: 170px;
        height: 70px;
        padding-left: 10px;
        padding-right: 10px;

        background-color: rgb(80, 0, 108);

        border-radius: 30px;
        box-shadow: 0px 0px 0px rgb(40, 0, 54);
        transform: scale(1);

        transition-property: transform, box-shadow, border-radius;
        transition-duration: 0.2s;
    }

    .link:hover {
        box-shadow: 5px 5px 10px rgb(40, 0, 54);
        transform: scale(1.1);
        border-radius: 15px;

        transition-property: transform, box-shadow, border-radius;
        transition-duration: 0.2s;
    }

    @media (max-width: 991px) {
        .navbar-collapse {
            justify-content: center;
        }

        .home {
            margin-bottom: 10px;
        }

        .link {
            width: 100%;
            margin-bottom: 10px;
        }
    }
}
